{% load static %}
<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/events.css' %}">
  </head>
  <body>
	<div class="container">
		{% block content %}{% endblock content %}
	</div>
	<script>
	{% block script %}
	{% endblock script %}
	</script>
  </body>
</html>
<style>

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-container > div {
    padding: 20px;
    max-width: 90%;
}
}
</style>
