<!-- templates/event_list.html -->
{% extends 'events/_base.html' %}
{% block content%}
{% for event in events %}
	<a href="{% url 'event-detail' event.pk %}">
	<div class="event-item">
		<div>
            {% if event.image %}
                <img src="{{ event.image.url }}" alt="{{ event.title }}" >
            {% endif %}
		</div>
		<div class="event-info">
            <p>{{ event.date|date:"l d M Y" }}</p>
			<p>{{ event.title }}</p>
            <p>{{ event.location }}</p>
            <p>{{ event.topics }}</p>
        </div>
	</div>
	</a>
    {% empty %}
    <p>No events available.</p>
{% endfor %}
{% endblock content%}
