body {
    background-color: #ddd;
	font-family: Verdana, sans-serif;
	font-size:14px;
}
.container {
	background-color: snow;
    max-width: 1200px;
    margin: 0px auto;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.dashboard {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:start;
    max-width: 1100px;
	font-size:1rem;
	background-color: snow;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	margin: 0 auto;
}
.dashboard a {
	text-decoration: none;
	color:black;
}
.daytrack {
	background-color: yellowgreen;
	display:grid;
	grid-template-columns: auto auto;
	border-radius:10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
	padding:10px;
	gap: 20px;
}
.activities {
	grid-column-start: 1;
    grid-column-end: 3;
}
.day {
	background-color:orange;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	padding:10px;
}
.daytrack div{
	padding:5px;
}
.events {
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color: DodgerBlue;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	padding:10px;
	max-width:260px;
	border: 3px solid black;
}
.events div {
	background-color: Khaki;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	border-radius:10px;
	border-left: 4px solid red;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding:5px;
	margin-bottom:10px;
}
.root-container {
	display:grid;
	grid-template-areas:'avatar input' 'bot-response bot-response';
	background-color: Violet;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	padding:10px;
	min-width:300px;
	justify-content: space-around;
	align-items: center;
}
.avatar {
	grid-area:avatar;
}
.avatar img {
    width : 70px;
    height: 70px;
    border-radius: 50%;
}
.input-box {
	grid-area:input;
}
.bot-response {
	grid-area:bot-response;
}
.buttons {
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color: lightgreen;
	border-radius: 5px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	padding:10px;
	background-color: lightgray;
}
.update_button {
  float:left;
  background-color: #04AA6D;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

/* Tablets in portrait */
@media screen and (max-width: 768px) {
	.container {
		max-width:90%;
	}
	.dashboard {
		flex-direction:column;
		font-size:1rem;
		background-color: tomato;
		padding:10px;
	}
	.daytrack {
		width:90%;
		margin:auto;
		margin-bottom:10px;
	}
	.events {
		width:90%;
		margin:auto;
		margin-bottom:10px;
	}
	.events div{
		width:90%;
	}
	.root-container {
		width:90%;
		margin:auto;
		margin-bottom:10px;
	}
	}
		

