body {
    background-color: #ddd;
	margin: 0; padding: 0;
	font-family: Verdana, sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
.container {
    max-width: 95%;
    margin: 0px auto;
	margin-top: 10px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	background-color: orange;
}
.events {
	display:flex;
	flex-direction:column;
	justify-content:center;
    align-items: center;
	margin: 0 auto;
	width: 80%;
	font-size:1rem;
    padding: 10px;
	background-color: snow;
}
.event-item {
	display:flex;
	flex-direction:row;
	align-items: center;
	background-color: Khaki;
	max-width: 80%;
	margin:0 auto;
	margin-bottom: 20px;
	padding: 10px;
	border-left: 6px solid red;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.event-info {
	margin-left:30px;
	font-size:1.4rem;
}

.event-item img {
	padding:10px;
	max-width: 30%;
	height: auto;
}
.event-details {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:start;
	max-width: 80%;
	margin:0 auto;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	background-color: snow;
}
.event-detail {
	margin:0 auto;
	background-color: lightgray;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.event-join {
	margin:0 auto;
	background-color: lightgray;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
/* Tablets in portrait */
@media screen and (max-width: 768px) {
.events {
	flex-direction:column;
	align-items:center;
}
.event-item {
	align-items:center;
	justify-content:start;
}
.event-info {
	max-width: 600px;
}
.event-item img {
	max-height: 40%;
	max-width: 20%;
}
.event-details {
	flex-direction:column;
	align-items:center;
}
.event-detail {
	margin-bottom: 20px;
	width: 90%;
}
.event-join {
	width: 90%;
}
/* Phones */
@media screen and (max-width: 650px) {
.event-info div{
	font-size:1rem;
}
}


