body {
    background-color: #ddd;
	margin: 0; padding: 0;
	font-family: Verdana, sans-serif;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

.container {
    max-width: 95%;
    margin:0px auto;
	margin-top: 10px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	background-color: darkseagreen;
}

.sections {
	display:flex;
	flex-direction:column;
	justify-content:center;
    align-items: center;
	margin : 0 auto;
	width: 80%;
	font-size:1rem;
    padding: 10px;
	background-color: snow;
}

h2,strong {
	color: darkslategray;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: darkseagreen;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 10px;
  border-left: 6px solid darkcyan;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.a {
	width: 80%;
	display:block;
}

.section img {
  border-radius: 8px;
  margin-right: 20px;
  height: 50px;
}

.section {
    position: relative;  /* Parent element positioned relatively */
}

.login-button {
    position: absolute;   /* Positioning the login button relative to the .section */
    top: 3px;            /* Adjust to move vertically from the top edge */
    right: 3px;          /* Adjust to move horizontally from the right edge */
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
#id_password {
    color: red; /* Change text color */
    background-color: snow;
    border: 2px solid lightblue; 
    border-radius: 5px; /* Rounded corners */
    padding: 5px; 
}
#id_username {
    color: black; /* Change text color */
    background-color: snow; 
    border: 2px solid lightblue; 
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Add some padding */
}
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 5px;
  margin-top:5px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 100%; /* Full width for input */
}

.btn:hover {
  background-color: #037f50;
}

.error-message {
  color: red;
  margin-top: 10px;
}
@media screen and (max-width: 800px) {
.section {
  flex-direction:column;
}
}
