{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css/daytrack.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Local | {% block title %}{% endblock title %} </title>
<style>
.logout a {
  color: tomato; /* Color for the logout link */
  text-decoration: none; /* Removes underline */
}
{% block style %}
{% endblock style %}
</style>
<head>
<body>
<div class="container">
{% block content %}{% endblock content %}
</div>
</body>
{% block script %}
{% endblock script %}
</html>
