{% extends "pages/_base.html" %}
{% block content %}
<div>
	Life is a game. You play it. 
	I lost my faith in life. So I lost it for the farm as well. I feel like nothing works. Yonca da, hayvanlarda.
</div>
<div>
	Sexuality is important. When you don't have a job you say, ok we will make it through, but when you don't have a woman, you say I need a woman, and than other scenarios pops up in my brain. 
</div>
<div>
	I need to have an exit. I need to have enought energy to pass from that exit.
</div>
<div>
About Me
</div>
<div>
Memet Koslu
Muğla, Turkey
mkoslu@protonmail.com
linkedin.com/in/memet-koslu-ab7690264
</div>

<div>
Experience
Help Desk Representative
Siemens
Jan 2010 - Apr 2014 (4 years 4 months)
Helpdesk agent for french people.
We were giving IT support for UPM company in France from Turkey
Administrator
MStar Semiconductor
Aug 2014 - Jul 2018 (4 years)
I was administrator for the liason office of Mstar SM Company
</div>

<div>
Education
INSTITUTION SAINT-CHARLES 38
French Culture and Language advance
2000 - 2001
İstanbul Özel Saint Joseph Fransız Lisesi
Licenses  Certifications
Web Programming - O'Reilly Media
</div>
<div>
Skills
Python (Programming Language) • Django • JavaScript • French • English as a Second Language
(ESL) • Microsoft Excel • HTML5 • Chess • Horses • Organic Farming
</div>
{% endblock content%}
{% block style %}
div {
	margin:auto;
	font-size: 20px;
	margin-bottom: 20px;
	max-width: 600px;
	background-color: #f9f0f9;
	padding: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	}
{% endblock style %}
